.css-18e3th9 {
    padding-top: 0rem;
    padding-bottom: 10rem;
    padding-left: 5rem;
    padding-right: 5rem;
}
.css-1d391kg {
    padding-top: 3.5rem;
    padding-right: 1rem;
    padding-bottom: 3.5rem;
    padding-left: 1rem;
}
body {background-color: blue;color:yellow}
#MainMenu {visibility: hidden;}
footer {visibility: hidden;}
header {visibility: hidden;}

/*
div.css-v37k9u.e16nr0p33 {
    color:yellow;
}*/

h1#enron-email {
    background: rgb(2,0,36);
    background: linear-gradient(318deg, rgba(2,0,36,1) 0%, rgba(9,74,121,1) 43%, rgba(255,0,0,1) 100%); 
    border-radius: 5px;
    padding-left:5px;
}

span.css-10trblm.e16nr0p30 {
    background-color: antiquewhite;
    border-radius: 5px;
    background: rgb(80, 78, 78,0.2);
    padding-left: 1%;
}
/*body {
    background-color: blue;
    color:yellow
}*/

/*
div.stApp.streamlit-wide.css-ffhzg2.eczokvf0 {
    background-color: blue;
}*/

/*
div.appview-container.css-1wrcr25.egzxvld4 {
    background-color: white;
}*/

